:root {
  --mainColor: #529955;
  --mainDarkColor: #182e19;
  /* --mainColor: #9cdcfe;
    --mainDarkColor: #1e2c33; */
}

.block {
  position: absolute;
  width: 1px;
  /* height: 150px; */
  height: 125px;
  background: var(--mainColor);
  left: 50%;
  transform-origin: 50% 222px;    /* half */
  /* transform: rotate(25deg); */
  opacity: 0;
  animation: animate 0.1s linear forwards;

  box-shadow: 0 0 15px var(--mainColor), 0 0 30px var(--mainColor);
}

@keyframes animate {
  to {
    opacity: 1;
  }
}

.test {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2.5em;
  font-weight: 500;
  text-align: center;
  line-height: 1.5em;
}