:root {
  --mainColor: #529955;
  --mainDarkColor: #182e19;

  --treeColor: #29522b;
  --treeDarkColor: #529955;
  --dirtColor: #427e42;
  --dirtDarkColor: #396839;
  --treeBottomColor: #442404;
  --treeBottomDarkColor: #1f1206;
  --dirtBottomColor: #442404;
  --dirtBottomDarkColor: #1f1206;
  --treeBorderColor: none;

  --background1: #1e1e1e;
  --background2: #202020;
  --background3: #252525;
  --background4: #2b2b2b;
}

.block {
  position: absolute;
  width: 1px;
  height: 125px;
  background: var(--mainColor);
  left: 50%;
  transform-origin: 50% 222px;
  opacity: 0;
  animation: animate 0.1s linear forwards;
  box-shadow: 0 0 15px var(--mainColor), 0 0 30px var(--mainColor);
}

@keyframes animate {
  to {
    opacity: 1;
  }
}

.curr-time {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--timerCounter);
  font-size: 2.5em;
  font-weight: 500;
  text-align: center;
  line-height: 1.5em;
}
